ul {
	list-style: none;

	li {
		margin-top: 15px;
		margin-bottom: 15px;

		a {
			padding-bottom: 5px;
			color: #313131;
			font-weight: bold;
		}

		p {
			padding-top: 5px;
			color: #7a7a7a;
		}

	}
}

.boxed {
	border-style:solid;
	border-color:#98bf21;
}

.centered {
	text-align: center
}

